# Игнорируем папки сборки
**/build/
**/target/
**/out/
**/bin/
**/dist/

# Игнорируем файлы IDE
.idea/
.vscode/
*.iml
*.swp
*.swo

# Игнорируем логи и временные файлы
*.log
*.tmp
*.bak

# Игнорируем зависимости
**/node_modules/
**/.gradle/
**/.mvn/

# Игнорируем системные файлы
.DS_Store
Thumbs.db

# Игнорируем локальные конфигурации
**/application-local.properties
**/local.env
**/venv/
**/__pycache__/
backend/.env
.env
